<app-header-bar></app-header-bar>

<div class="flex mt-10 justify-center">

    
             <div class=" grid grid-cols-2">
        
                    <img class="rounded-full w-32 h-32 justify-self-center" [src]="profilePic" alt="">
                    <div class="mt-1">
                            <h3 class="text-3xl font-bold text-black" >{{profileName}}</h3>
                            <p class="text-lg mt-3 mb-3">Maringá, PR</p>
                            <span>
                            <button class="border-2 px-3 py-2 rounded-lg hover:border-gray-300">Edit Profile</button>
                            <button class="border-2 ml-3 content-center  px-3 py-2 rounded-lg hover:border-gray-300">...</button>
                        </span>
                        </div>

            </div>



</div>
